#random-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#random-btn {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: teal;
  border: 1px solid teal;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

#random-btn:hover {
  background-color: teal;
  color: #fff;
}

#random-btn:active {
  transform: scale(0.95);
}
